*{

}
.top_div{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main_title {
  margin-top: 5%;
}
.top_form{
  margin-left: 15%;
  text-align: center;
  width: 70%;

}
.top_form_input {
  width: 100%;
  margin-top: 5%;
}
.top_form_input_btn {
  width:10%;
  

}
